<nav class="relative text-center bg-blue-600 text-white w-full py-5">
  <h1 class="text-2xl font-bold">Videogame Search</h1>

  <% if Current.user.present? %>
    <div class="absolute right-10 top-6 flex justify-center items-center">
      <span class="mr-2">Hello <%= Current.user.name.split(' ')[0]%></span>
      <%= button_to "Sign out", signin_path, method: :delete, class: "bg-red-500 text-sm font-semibold rounded p-2" %>
    </div>
  <% else %>
    <div class="absolute right-10 top-6 flex justify-center items-center gap-4">
      <%= link_to "Sign in", signin_path %>
      <%= link_to "Sign Up", signup_path %>
    </div>
  <% end %>
</nav>
