<h1>Editing videogame</h1>

<%= render "form", videogame: @videogame %>

<br>

<div>
  <%= link_to "Show this videogame", @videogame %> |
  <%= link_to "Back to videogames", videogames_path %>
</div>
